<!DOCTYPE html>
<html>
  <head>
    <title>Diggit</title>
    <meta charset="UTF-8">
  </head>
  <body ng-app="diggit">

    <div ng-controller="DiggitController">

    <h2>Main Diggit page!</h2>

    <div ng-repeat="link in links | orderBy:'votes':true" style="display: block">
      <div>
        <span>{{link.path}}</span> | <span>{{link.votes}}</span> <span ng-click="vote(link.id, 1)">up</span> || <span ng-click="vote(link.id, -1)">down</span>
      </div>
    </div>
    <input type="text" ng-model="newLink"/><button ng-click="addLink()">add link</button>


    </div>


    <!--libs -->
    <script src="static/lib/angular.min.js"></script>

    <!-- app scripts -->
    <script src="static/app/app.js"></script>

  </body>
</html>
